.cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-image: url("https://media.istockphoto.com/id/1221713777/photo/business-man-on-the-street-wearing-a-facemask-to-avoid-covid-19.jpg?b=1&s=170667a&w=0&k=20&c=VApco7OvHWKrLi5lUmGGe_88FdYsuyoMVZcgDHgpAsM=");
}
